name: CI/CD Workflow

on:
  push:
    branches: ["*"]
    tags: ["*"]
  pull_request:
    branches: ["*"]
    tags: ["*"]

permissions:
  checks: write
  packages: write
  contents: read
  attestations: write
  id-token: write
  pull-requests: write

jobs:
  build_and_test:
    name: Build and test
    uses: ./.github/workflows/build-test.yml
    secrets: inherit

  push_to_registries:
    name: Publish Dockerimage
    needs: build_and_test
    if: startsWith(github.ref, 'refs/tags/')
    uses: ./.github/workflows/publish.yml
    secrets: inherit
